footer {
    margin: 50px 0;
    position: relative;
    bottom: 0;
}

.obligatoire {
	color: red;
}

.results tr[visible='false'],.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}